@import "./index.css";

.disaster-dimensions {
    background-color: #141414;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.slide-image {
    width: 35vmin;
    height: 50vmin;
    object-fit: cover;
    object-fit: center;
}

.image-track {
    display: flex;
    gap: 3vmin;
    position: absolute;
    top: 25%;
}

.slider-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}