@import "./index.css";

.navbar {
    background: transparent;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    backdrop-filter: blur(0.8);
    height: 10vh;
}

.navbar_list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar_link {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar_link:hover,
.navbar_link.active {
  color: white;
}

nav .logo {
  position: absolute;
  top: 0;
  left: 0;
}
