.prompt-carousel {
    overflow: hidden;
    padding: 0.5rem 0;
    margin: 0.25rem 0;
    white-space: nowrap;
    height: 500px;
    width: 1000px;
}

.marquee {
    display: inline-flex;
    align-items: center;
    will-change: transform;
    animation: scroll-left 28s linear infinite;
    height: 100%;
    width: 100%;
}

.marquee span {
    flex-shrink: 0;
    display: inline-block;
    padding: 2rem;
    margin: 0 0.6rem;
    font-size: 1rem;
    background: var(--bg-section);
    border: 2px solid #b14d04;
    border-radius: 0.8rem;
    filter: drop-shadow(1px 1px 2px #632b03);
    transition: transform 0.1s ease;
}

.marquee span:hover {
    transform: translateY(-4px);
    filter: drop-shadow(2px 2px 3px #632b03);
}

.prompt-carousel:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}